APP_NAME="HSE Project"
APP_ENV=production
APP_KEY=base64:F8Ua5YAp2Aw/bhVa1nYfErPb/DCQ5+q18b2S6pRrSnw=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8081
DOCKER_APP_PORT=8081

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlsrv
DB_HOST=sqlserver
DB_PORT=1433
DB_DATABASE=hse_project
DB_USERNAME=sa
DB_PASSWORD=HseDev2026!Pass
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes
DOCKER_DB_FORWARD_PORT=14333

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="HSE Project"

VITE_APP_NAME="HSE Project"

RUN_MIGRATIONS=true
RUN_SEEDERS=true
RUN_STORAGE_LINK=true
RUN_OPTIMIZE=true
WAIT_FOR_DB=true
